@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: #bea576;
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #1c1c1c;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #1c1c1c;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: #fdf5e6;
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #fdf5e6;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: black;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid fdf5e6;
		background: #eae6ca;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: black;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/

	
	.container-form{
		width: 100%;
		max-width: 1100px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 50px;
		margin-top: 90px;
	}
	.container-form h2{
		margin-bottom: 15px;
		font-size: 35px
	}
	.container-form p{
		font-size: 17px;
		line-height: 1.6;
		margin-bottom: 30px;
	}
	.container-form a{
		font-size: 17px;
		display: inline-block;
		text-decoration: none;
		width: 100%;
		margin-bottom: 15px;
		color: black;
		font-weight: 700;
	}
	.container-form a i{
		color: #bea576;
		margin-right: 10px;
	}
	.container-form form .campo, textarea{
		width: 100%;
		padding: 15px 10px;
		font-size: 16px;
		border: 1px solid #dbdbdb;
		margin-bottom: 20px;
		border-radius: 3px;
		outline: 0px;
	}
	.container-form form textarea{
		max-width: 530px;
		min-width: 530px;
		min-height: 140px;
		max-height: 150px;
	}
	.container-form .btn-enviar{
		padding: 15px;
		font-size: 16px;
		border: none;
		outline: 0px;
		background: #bea576;
		color: white;
		border-radius: 3px;
		cursor: pointer;
		transition: all 300ms ease;
	}
	.container-form .btn-enviar:hover{
		background: #bea576;
	}
	